* {
  font-family: Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, #f0f0f0, #b9b3d3);
}


h1 {
  color: SeaGreen;
}


p, 
li {
  font-size: 18px;
}

a {
  text-decoration: none;
}