* {
  font-family: Helvetica, Arial, sans-serif;
}

body{
  background-color: #4CB963;

}

li {
  font-size: 18px;
}

#banner{
  background-size: cover;
  width: 100%;
  height: 200px;
  background-image: url("../images/Emmanuel_College_Front_Court.jpg");
  background-position: center;
}

#banner .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

#banner .content h1 {
  border: 3px solid #1D263B;
  background: #157F1Fcc;
  color: #1D263B;
  border-radius: 10px;
  position: relative;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
}

#bar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #5C6784;
  border: 3px solid #1D263B;
  border-radius: 10px;
  margin: 20px, auto;
  list-style-position: inside;
  width: auto;
  margin-top: 20px;
}

#bar_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  width: 100%;
}

.button-container {
  text-align: center;
}

.page-link{
  display: inline-flex;
  height: 100%;
  width: auto;
  padding: 10px;
  background-color: #1D263B;
  border: 3px solid #1D263B;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  list-style-position: inside;
  text-decoration: none;
  font-style: bold;
}

.page-link:hover{
  background-color: #5C6784;
}

.charts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #5C6784;
  border: 3px solid #1D263B;
  border-radius: 10px;
  margin: 20px, auto;
  list-style-position: inside;
  width: auto;
  margin-top: 20px;
}